automated-reporting/Screenshot Workflow 3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "507d08c0-8bbd-402d-b997-45e594db433f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UPNAZvnBd2D2w3SXcznokmZNXr8jkCPr6WFOhEExDdQ",
          "mode": "list",
          "cachedResultName": "DB Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UPNAZvnBd2D2w3SXcznokmZNXr8jkCPr6WFOhEExDdQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UPNAZvnBd2D2w3SXcznokmZNXr8jkCPr6WFOhEExDdQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8c4a7231-73ab-4965-9399-2f3018b7b6f9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E6sTuVXgDxNBmIZ3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let total = 0;\nlet orders = 0;\nconst fecha = new Date();\nconst fecha_actual = fecha.getDate() + \"/\" + (fecha.getMonth() + 1) + \"/\" + fecha.getFullYear();\n\nfor(const i of items){\n  total += i.json.total_sales;\n  orders += i.json.orders;\n}\n\nreturn [{\n  json: {\n    total_sales: total,\n    total_orders: orders,\n    fecha: fecha_actual\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "9cbcffcf-6775-44e0-b65f-943fed61b208",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "casagrandeevo@gmail.com",
        "subject": "=Informe ventas {{ $json['Fecha informe'] }}",
        "message": "=<!DOCTYPE html> <html lang=\"en\"> <head>   <meta charset=\"UTF-8\" />   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />   <title>Business Report</title> </head> <body style=\"margin:0; padding:0; background-color:#f4f4f7; font-family: Arial, Helvetica, sans-serif;\">   <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f4f4f7; padding: 24px 0;\">     <tr>       <td align=\"center\">         <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);\">                      <tr>             <td style=\"background-color:#111827; color:#ffffff; padding:24px 32px;\">               <h1 style=\"margin:0; font-size:28px; font-weight:bold;\">Reporte automatico de la empresa</h1>               <p style=\"margin:8px 0 0; font-size:14px; color:#d1d5db;\">                 Resumen de las principales métricas empresariales               </p>             </td>           </tr>            <tr>             <td style=\"padding:32px;\">               <p style=\"margin:0 0 24px; font-size:16px; color:#374151;\">                 Aquí está el último informe generado automáticamente.               </p>                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\">                 <tr>                   <td style=\"padding:16px; background-color:#f9fafb; border:1px solid #e5e7eb; font-size:14px; color:#6b7280; width:50%;\">                     Fecha reporte                   </td>                   <td style=\"padding:16px; background-color:#ffffff; border:1px solid #e5e7eb; font-size:16px; font-weight:bold; color:#111827;\">                     {{ $json['Fecha informe'] }}                   </td>                 </tr>                 <tr>                   <td style=\"padding:16px; background-color:#f9fafb; border:1px solid #e5e7eb; font-size:14px; color:#6b7280;\">                     Total ordenes                   </td>                   <td style=\"padding:16px; background-color:#ffffff; border:1px solid #e5e7eb; font-size:16px; font-weight:bold; color:#111827;\">                     {{ $json['Total ordenes'] }}                   </td>                 </tr>                 <tr>                   <td style=\"padding:16px; background-color:#f9fafb; border:1px solid #e5e7eb; font-size:14px; color:#6b7280;\">                     Total ingresos                  </td>                   <td style=\"padding:16px; background-color:#ffffff; border:1px solid #e5e7eb; font-size:16px; font-weight:bold; color:#111827;\">                     ${{ $json['Total ventas'] }}                   </td>                 </tr>               </table>                <p style=\"margin:24px 0 0; font-size:13px; color:#6b7280;\">                 Este informe se generó automáticamente mediante su flujo de trabajo.               </p>             </td>           </tr>          </table>       </td>     </tr>   </table> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "e729b7f5-d034-4366-9a61-c8f62b29c6a0",
      "name": "Send a message",
      "webhookId": "f72e5dc7-40d0-45ee-9f34-d6e87a8fdc26",
      "credentials": {
        "gmailOAuth2": {
          "id": "LcIx5wISksg9Vtjn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3e16e7-f7c0-4bd3-8e7f-746ad738d442",
              "name": "Total ventas",
              "value": "={{ $json.total_sales }}",
              "type": "number"
            },
            {
              "id": "c1ef6196-10cd-4351-843a-9558340f6f7b",
              "name": "Total ordenes",
              "value": "={{ $json.total_orders }}",
              "type": "number"
            },
            {
              "id": "1dbb1b71-4a8f-40f7-917c-224f1c450fc8",
              "name": "Fecha informe",
              "value": "={{ $json.fecha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "2ab73122-1a0b-4cfe-9aa8-b42be412032a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c65c999f-97df-4029-81ab-004b60ec6beb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf57aaf0efeb38508c020d1183e8000700a5eae859aab0350f81787f1bb4eb8b"
  },
  "id": "fGbYpLKBMChNrd8Q",
  "tags": []
}